.card__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.pokemon__card {
    background-color: beige;
    max-width: 300px;
    box-shadow: 5px 5px 10px black;
    transition: transform 300ms ease, background-color 300ms ease;
}
.pokemon__card:hover {
    transform: rotate(3deg);
    background-color: #c5c5b2;
    cursor: pointer;
}

.card__img {
    background-color: #fff;
}

.pokemon__img{
    transition: transform 300ms ease;
    width: 100%;
}

.pokemon__img:hover {
    transform: scale(1.5);
}

.pokemon__name {
    text-transform: uppercase;
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 1rem;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.2rem;
}
.pokemon__name, .card__img, .pokemon__card, .pokemon__specs {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
}
.pokemon__specs {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: antiquewhite;
    margin-bottom: 0;
    line-height: 1rem;
    font-family: 'Inconsolata', monospace;
}
.poke__form {
    background-image: url(https://st2.depositphotos.com/2225062/10009/v/450/depositphotos_100091406-free-stock-illustration-ground-pattern-pixel-art-illustration.jpg);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 2px solid black;
    box-shadow: 5px 5px 10px black;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .poke__form > input, .poke__form > button {
        width: 100%;
    }
} 

.poke__form > input, .poke__form > button {
    border: 2px solid black;
    padding: .7rem;
    border-radius: 10px;
    font-size: 25px;
}
.load__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.load__card > img {
    max-width: 150px;
}

.load__card > h5 {
    font-size: 25px;
    margin-top: 1rem;
    font-family: 'Inconsolata', monospace;
}



